<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dashboard.css">
    <title>Extreme Sports Meetup Dashboard</title>
</head>
<body>

  <div class="logo">
    <h1>Xtreme Logo</h1>
     <ul style="list-style-type: none;">
        <li>Events</li>
        <li>Members</li>
        <li>Reminders</li>
     </ul>    
  </div>

  <div class="primary">
    <div class="dashboard">
      <h1>Dashboard</h1>
      <input type="text">
    </div>  
    <div class="create">
      <h1>Create New Event</h1>
         <h2>Event Name</h2>
            <input type="text"> 
         <h2>Date of Event</h2>
            <input type="text">
         <h2>Start Time</h2>
            <input type="text">  
         <h2>End Time</h2>
            <input type="text">    
         <h2>Category</h2>
            <input type="text">  
         <h2>Difficulty Level</h2>
            <input type="text">  
         <h2>Location</h2>
            <input type="text">                    
    </div>  
    <div class="upcoming">
      <h1>Upcoming Events</h1>
    </div>  
  </div>  
        
</body>
</html>