<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dashboard.css">
    <title>Extreme Sports Meetup Dashboard</title>
</head>
<body>

  <div class="logo">
    <h1>Xtreme Logo</h1>
     <ul style="list-style-type: none;">
        <li>Events</li>
        <li>Members</li>
        <li>Reminders</li>
     </ul>    
  </div>
  <div class="dashboard">
    <h1>Dashboard</h1>
  </div>  

        
</body>
</html>