<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Extreme Sports Meetup</title>
</head>
<body>
    <!-- HEADER -->
    <%- include('shared/header') %>

    <main>
        <!-- HERO -->
        <section id="home" class="hero">
            <div class="title">
                <h1>BECOME YOUR BEST SELF</h1>
                <input type="submit" name="our-story" id="our-story" class="ourStoryBtn" value="OUR-STORY">
            </div>
        </section>

        <!-- EXPLORE MEETUPS -->
        <section id="explore" class="container">
            <h2>Explore Meetups</h2>
            <div class="ski-gallery">

            </div>

        </section>






        <footer>
            <p>&copy; 2020 Xtreme Sports Meetup</p>
        </footer>

    </main>

</body>
</html>