<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Extreme Sports Meetup</title>
</head>
<body>

    <main>
        <!-- HERO -->
        <section id="home" class="hero">
            <div class="title">
                <h1>BECOME YOUR BEST SELF</h1>
                <a href="/dashboard">
                    <button class="joinBtn">JOIN US</button>
                </a>
            </div>
        </section>
            <div class="logo">
                <img src="/images/xtreme-logo.png" alt="Xtreme Sports Logo">
            </div>

        <!-- EXPLORE MEETUPS -->
        <section id="explore" class="container">
            <h2>Explore Meetups</h2>
        </section>

        <section id="" class="container">
            <h3>Explore By</h3>
            <div class="cdlBtn">
            <input type="submit" name="" id="" class="" value="Category">
            
            <input type="submit" name="" id="" class="" value="Difficulty">

            <input type="submit" name="" id="" class="" value="Location">
            </div>
        </section>
        
        <section class="container">
            <h4>Snow Sports</h4>
        </section>

        <section id="snow-sports" class="event-container">
            <div class="snow-gallery">
                <% meetups.forEach(meetup => { %>
                    <% if(meetup.category) { %>
                        <%- include("event-card", {meetup}); %>
                    <% }; %>
                <% }); %>
            </div> 
        </section>
         
        <section class="container">
        <h4>Sky Sports</h4>
        </section>

        <section id="sky-sports" class="event-container">
            <div class="sky-gallery">
                <% meetups.forEach(meetup => { %>
                    <% if(meetup.category) { %>
                        <%- include("event-card", {meetup}); %>
                    <% }; %>
                <% }); %>
            </div>
        </section>

        <footer>
            <p>&copy; 2020 Xtreme Sports Meetup</p>
        </footer>

    </main>


</body>
</html>