* {
  font-family: Helvetica;
  background-color: #C7C7C7;
}

body {
  width: 100%;
}

/*
.logo {
  float: left;
}

.logo ul {
  padding: 0;
}
*/

.dashboard h1 {
  padding: 0;
}

.dashboard input {
  position: absolute;
  right: 150px;
  top: 30px;
}