/* RESET */
* {
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* LAYOUT PAGE */
html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-size: 16px;
}

.container {
    max-width: 980px;
    padding: 2% 3%;
    margin: 0 auto;
    font-size: 1.3em;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.6;
}

h1 {
    font-size: 4em;
}

h2 {
    font-family: sans-serif;
    font-size: 2.7em;
    text-align: center;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.2em;
}

/* HERO */
.hero {
    width: 100vw;
    height: 75vh;
    background-image: url('../images/banner-image.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo img{
    max-width: 650px;
    position: absolute;
    padding: 0;
    top: 3%;
    left: 2%;
    width: 200px;
    height: 70px;
}

.title {
    max-width: 650px;
    padding: 5%;
    position: absolute;
    top: 10%;
    left: 8%;
    color: white;
}

.joinBtn {
    position: absolute;
    top: 85%;
    color: white;
    background-color: red;
    border: hidden;
    border-radius: 4px;
    font-size: 0.7em;
    cursor: pointer;
    width: 100px;
    height: 35px;
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.4)
}


/* SNOW GALLERY */
.snow-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* SKY GALLERY */
.sky-gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap; 
}

/* EVENT CARDS */

.event-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    /* width: 80%; */
    max-width: 980px;
    padding: 0 2%;
    margin: 0 auto;
    font-size: 0.9em;
    line-height: 1.6;
}

.event-card {
    position: relative;
    border: 1px solid beige;
    border-radius: 10px;
    margin: 20px;
    height: 260px;
    width: 202px;
    overflow: none;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1)
}

.event-header img {
    max-width: 250px;
    width: 200px;
    height: 200px;
    border-radius: 10px 10px 0 0;
}

.title-mask {
    position: absolute;
    left: 0;
    top:0;
    width: 200px;
    height: 200px;
    border-radius: 10px 10px 0 0;
    background: rgba(0, 0, 0, .3);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0,0,0,0));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom        , rgba(0, 0, 0, .3), rgba(0,0,0,0)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.event-title {
    margin: 10px 0 0 10px;
    color: white;
}

.event-info {
    padding-left: 5px;
}

/* FOOTER */
footer {
    width: 100vw;
    text-align: center;
    font-size: 1.2em;
    padding: 2% 5%;
}
